* {
  box-sizing: border-box;
}

body {
  background-color: #FAFBFC;
}

.App {
  text-align: center;
  color: silver;
  font-family: "Comfortaa", cursive;
}

.organisations,
.organisation,
.main,
.App,
.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:  center;
}

.organisations,
.search {
  width: 70%;
}

.organisation {
  width: 100%;
  border: 1px solid silver;
  border-radius: 4px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.main {
  width: 98%;
  border: 1px solid silver;
}

.member {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 35px;
}

.member_avatar {
  height: 20px;
  width: 20px;
  margin: 3px;
}

input[type="text"] {
  margin: 5px 5px 15px;
  padding: 5px;
  width: 90%;
  background-color: white;
  border: 1px solid silver;
  border-radius: 4px;
}
